## 1 Variables in the Python

### 1.1 Variables and types

In [2]:
print(0b100)  # BIN binary
print(0o100)  # OCT octal
print(100)    # DEC decimal
print(0x100)  # HEX hexadecimal

4
64
100
256

In [3]:
print(123.456)    # decimals
print(1.23456e2)  # scientific notation

123.456
123.456

### 1.3 Use of variables

In [4]:
"""
use `type`functions to check the type of variables
"""
a = 100
b = 123.45
c = 'hello, world'
d = True
print(type(a))  # <class 'int'>
print(type(b))  # <class 'float'>
print(type(c))  # <class 'str'>
print(type(d))  # <class 'bool'>

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [11]:
"""
change the type of variables through Python's built-in functions
- `int()`  : Convert a numerical value or string into an integer, you can specify the base.
- `float()`: Convert a string (when possible) to a floating point number.
- `str()`  : Convert the specified object into string form, and you can specify the encoding method.
- `chr()`  : Convert an integer (character encoding) into the corresponding (one-character) string.
- `ord()`  : Convert a (one-character) string into the corresponding integer (character encoding).
"""  
print(float(100))           # convert int   100     into  float 100.0
print(int(123.45))          # convert float 123.45  into  int 123
print(int('123'))           # convert str   '123'   into  int 123
print(int('123', base=16))  # convert str   '123'   into  int 291
print(int('100', base=2))   # convert str   '100'   into  int 4
print(float('123.45'))      # convert str   '123.45' into float 123.45
print(bool('hello, world')) # convert str   'hello, world' into bool True
print(int(True))            # convert bool  True    into  int 1
print(chr(100))             # convert int   100     into  str 'd'
print(ord('d'))             # convert str   'd'     into  int 100
print(bool('false'))        # convert str   'false' into bool True
print(int('hello, world'))  # convert str   'hello, world' into int, raise VauleError

100.0
123
123
291
4
123.45
True
1
d
100
True

ValueError: invalid literal for int() with base 10: 'hello, world'

In [21]:
"""
	Variable Swap
"""
a = 100
b = 'hello, world'
c = '123'
d = '100'
print(a, b, c, d)
d, c, a, b = a, b, c, d
print(a, b, c, d)

100 hello, world 123 100
123 100 hello, world 100

## 2 Operators in Python

In [14]:
"""
 Arithmetic operators
"""
print(5 + 12)    # 17
print(5 - 12)    # -7
print(5 * 12)    # 60
print(5 / 12)    # 0.4166666666666667
print(5 ** 3)    # 125
print(25 // 12)  # 2      25 / 12 = 2 ······ 1
print(25 % 12)   # 1

17
-7
60
0.4166666666666667
125
2
1

In [15]:
"""
 Assignment operators
"""
print(x:=3)     # x = 3  print(x)

3
3

## 3 Control flow in Python

### 3.1 Branch Structure

In [16]:
"""
if Statements
"""
x = 3
if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
    print('More')

More

In [1]:
"""
match 
	switch case like
	Match statements require Python 3.10 or newer
"""
def http_error(status):
    match status:
        case 400 | 401 | 402 | 403: # combine several literals in a single pattern using `|`
            return "Bad request"
        case 404:
            return "Not found"
        case 418:
            return "I'm a teapot"
        case _:                     # `_` switch default like, use for else status
            return "Something's wrong with the internet"

http_error(400)

# class Point:
#     x: int
#     y: int
# def where_is(point):
#     match point:
#         case Point(x=0, y=0):
#             print("Origin")
#         case Point(x=0, y=y):
#             print(f"Y={y}")
#         case Point(x=x, y=0):
#             print(f"X={x}")
#         case Point():
#             print("Somewhere else")
#         case _:
#             print("Not a point")

'Bad request'

### 3.2 Loop Structure

In [20]:
"""
for loop Statements  
range() function:
	* range(x,y) return x .... y-1 iterable object
	* range(y) return 0 .... y-1 iterable object
break, continue keywords
"""
words = ['cat', 'window', 'defenestrate']
for w in words:
    print(w, len(w))

# range(3,6) return iterable object 3,4,5
for i in range(3,6):
    print(i)

# break breaks out of the innermost enclosing for or while loop 
for n in range(2, 10):
   for x in range(2, n):
       if n % x == 0:
           print(n, 'equals', x, '*', n//x)
           break
   else:
       print(n, 'is a prime number')

# continue continues with the next iteration of the loop
for num in range(2, 10):
    if num % 2 == 0:
        print("Found an even number", num)
        continue
    print("Found an odd number", num)

cat 3
window 6
defenestrate 12
3
4
5
2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3
Found an even number 2
Found an odd number 3
Found an even number 4
Found an odd number 5
Found an even number 6
Found an odd number 7
Found an even number 8
Found an odd number 9

In [21]:
"""
pass statement 
	does nothing
	be used when a statement is required syntactically but the program requires no action
"""
class MyEmptyClass:
    pass

def initlog(*args):
    pass   # Remember to implement this!

In [22]:
"""
while loop Statements
"""
total = 0
i = 1
while i <= 100:
    total += i
    i += 1
print(total)

5050

### 3.3 Case of Control flow

In [27]:
"""
3.3.1 MAX Prime numbers within 10000
"""
for num in range(10000, 2, -1):
    is_prime = True
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(num)
        break

9973