## 1 List

### 1.1 Create List

* list is a data sequence composed of **a series of elements** in **a specific order**, so we can use it to save multiple data.
* list is a mutable type, so you can add and remove element.

In [1]:
"""
create
"""
list0 = []                 # empty list
list1 = [35, 12, 99, 68, 55, 35, 87]
list2 = ['Python', 'Java', 'Go', 'Kotlin']
list3 = [100, 12.3, 'Python', True]
print(list1)               # [35, 12, 99, 68, 55, 35, 87]
print(list2)               # ['Python', 'Java', 'Go', 'Kotlin']
print(list3)               # [100, 12.3, 'Python', True]

[35, 12, 99, 68, 55, 35, 87]
['Python', 'Java', 'Go', 'Kotlin']
[100, 12.3, 'Python', True]

In [2]:
"""
list comprehensions : create list by a simple way
"""
items = [i for i in range(1, 100) if i % 3 == 0 or i % 5 == 0]
print(items)

nums2 = [num ** 2 for num in [35, 12, 97, 64, 55]]
print(nums2)

nums2 = [num for num in [35, 12, 97, 64, 55] if num > 50]
print(nums2)

[3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30, 33, 35, 36, 39, 40, 42, 45, 48, 50, 51, 54, 55, 57, 60, 63, 65, 66, 69, 70, 72, 75, 78, 80, 81, 84, 85, 87, 90, 93, 95, 96, 99]
[1225, 144, 9409, 4096, 3025]
[97, 64, 55]

In [4]:
"""
Nested lists :use list comprehensions to generate nested list
	five element , each element is a list which have three element.
"""
import random
scores = [[random.randrange(60, 101) for _ in range(3)] for _ in range(5)]
print(scores)

[[84, 66, 72], [90, 60, 77], [86, 85, 81], [95, 90, 84], [71, 64, 99]]

### 1.2 Use of List

In [9]:
"""
`+`              splice two lists
`*`              repetition operations on lists.
`in`¬†`not in`  determine whether an element is in the list
"""
items5 = [35, 12, 99, 45, 66]
items6 = [45, 58, 29]
items7 = ['Python', 'Java', 'JavaScript']

print("\r\nOperator + splice two lists:")
print(items5 + items6)  # [35, 12, 99, 45, 66, 45, 58, 29]
print(items6 + items7)  # [45, 58, 29, 'Python', 'Java', 'JavaScript']
items5 += items6
print(items5)  # [35, 12, 99, 45, 66, 45, 58, 29]

print("\r\nOperator * repetition:")
print(items6 * 3)  # [45, 58, 29, 45, 58, 29, 45, 58, 29]
print(items7 * 2)  # ['Python', 'Java', 'JavaScript', 'Python', 'Java', 'JavaScript']

print("\r\nOperator in determine whether an element is in the list:")
print(29 in items6)  # True
print(99 in items6)  # False
print('C++' not in items7)     # True
print('Python' not in items7)  # False

Operator + splice two lists:
[35, 12, 99, 45, 66, 45, 58, 29]
[45, 58, 29, 'Python', 'Java', 'JavaScript']
[35, 12, 99, 45, 66, 45, 58, 29]

Operator * repetition:
[45, 58, 29, 45, 58, 29, 45, 58, 29]
['Python', 'Java', 'JavaScript', 'Python', 'Java', 'JavaScript']

Operator in determine whether an element is in the list:
True
False
True
False

In [10]:
"""
list[index]              index, index alse can be -1 to -N
list[start:end]          slicing operation, default stride is 1
list[start:end:stride]   slicing operation
"""
items8 = ['apple', 'waxberry', 'pitaya', 'peach', 'watermelon']
print("\r\nlist[index]:")
print(items8[0])   # apple
print(items8[2])   # pitaya
print(items8[4])   # watermelon
items8[2] = 'durian'
print(items8)      # ['apple', 'waxberry', 'durian', 'peach', 'watermelon']
print(items8[-5])  # 'apple'       

print("\r\nlist[start:end]:")
print(items8[1:3])     # ['strawberry', 'durian']
print(items8[:3:1])    # ['apple', 'strawberry', 'durian']
print(items8[::2])     # ['apple', 'durian', 'watermelon']
print(items8[-4:-2])   # ['strawberry', 'durian']
print(items8[-2::-1])  # ['peach', 'durian', 'strawberry', 'apple']

list[index]:
apple
pitaya
watermelon
['apple', 'waxberry', 'durian', 'peach', 'watermelon']
apple

list[start:end]:
['waxberry', 'durian']
['apple', 'waxberry', 'durian']
['apple', 'durian', 'watermelon']
['waxberry', 'durian']
['peach', 'durian', 'waxberry', 'apple']

In [11]:
"""
list operate:
	list.append(ele)        : adding elements to the end of the list
	list.insert(index, ele) : new elements at the specified index
	list.remove(ele)        : delete specified elements from the list
	list.pop()              : deletes the last element in the list by default
	list.pop(index)         : delete the element at the specified index. If not found, raise `IndexError`
	list.clear()            : clear the elements in the list
	del list[index]         : like list.pop(index)
"""
languages = ['Python', 'Java', 'C++']
print("\r\n append insert:")
languages.append('JavaScript')
print(languages)  # ['Python', 'Java', 'C++', 'JavaScript']
languages.insert(1, 'SQL')
print(languages)  # ['Python', 'SQL', 'Java', 'C++', 'JavaScript']

print("\r\n remove pop clear:")
languages = ['Python', 'SQL', 'Java', 'C++', 'JavaScript']
if 'Java' in languages:
    languages.remove('Java')
if 'Swift' in languages:
    languages.remove('Swift')
print(languages)  # ['Python', 'SQL', C++', 'JavaScript']
languages.pop()
temp = languages.pop(1)
print(temp)       # SQL
languages.append(temp)
print(languages)  # ['Python', C++', 'SQL']
languages.clear()
print(languages)  # []

print("\r\n del:")
items = ['Python', 'Java', 'C++']
del items[1]
print(items)  # ['Python', 'C++']

 append insert:
['Python', 'Java', 'C++', 'JavaScript']
['Python', 'SQL', 'Java', 'C++', 'JavaScript']

 remove pop clear:
['Python', 'SQL', 'C++', 'JavaScript']
SQL
['Python', 'C++', 'SQL']
[]

 del:
['Python', 'C++']

In [12]:
"""
ele index and frequency:
	list.index(ele)        : find the index position of an element in the list. If not found, raise¬†`ValueError`
	list.index(ele,index)  : find the index position of an element from specified index.
	list.count(ele)        : new elements at the specified index
"""
items = ['Python', 'Java', 'Java', 'C++', 'Kotlin', 'Python']
print(items.index('Python'))     # 0
# find 'Python' from index 1
print(items.index('Python', 1))  # 5
print(items.count('Python'))     # 2
print(items.count('Kotlin'))     # 1
print(items.count('Swfit'))      # 0
# find 'Java' from index 3
print(items.index('Java', 3))    # ValueError: 'Java' is not in list

0
5
2
1
0

ValueError: 'Java' is not in list

In [13]:
"""
Sort and reverse
	list.sort()     : sort by letter 
	list.reverse()
"""
items = ['Python', 'Java', 'C++', 'Kotlin', 'Swift']

print("\r\n sort reverse:")
items.sort()
print(items)  # ['C++', 'Java', 'Kotlin', 'Python', 'Swift']
items.reverse()
print(items)  # ['Swift', 'Python', 'Kotlin', 'Java', 'C++']

 sort reverse:
['C++', 'Java', 'Kotlin', 'Python', 'Swift']
['Swift', 'Python', 'Kotlin', 'Java', 'C++']

## 2 Tuple

* Tuple alse is a data sequence composed of **a series of elements** in **a specific order**, so we can use it to save multiple data.
* But tuple is a immutable type. Once a tuple is defined, elements cannot be added or deleted, elements cannot be modify.

In [14]:
"""
() or ,                 : create tuple
type(tuple)             : check type
len(tuple)              : get num of tuple elements 
tuple[index]            : get element by index
tuple[start:end]        : slicing operation, default stride is 1
tuple[start:end:stride] : slicing operation
"""
t1 = (35, 12, 98)
t2 = 35, 12, 98
t3 = ('echuan', 43, True, 'ÂõõÂ∑ùÊàêÈÉΩ')
t4 = ()
t5 = 'hello',    

print("\r\n type and len:")
print(type(t1))  # <class 'tuple'>
print(type(t2))  # <class 'tuple'>
print(type(t3))  # <class 'tuple'>
print(type(t4))  # <class 'tuple'>
print(type(t5))  # <class 'tuple'>
print(len(t1))  # 3
print(len(t2))  # 4
print(len(t3))  # 4
print(len(t4))  # 4
print(len(t5))  # 4

print("\r\n []:")
print(t1[0])    # 35
print(t1[2])    # 98
print(t2[-1])   # ÂõõÂ∑ùÊàêÈÉΩ
print(t2[:2])   # (35, 12)
print(t2[::3])  # (35,)

 type and len:
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
3
3
4
0
1

 []:
35
98
98
(35, 12)
(35,)

In [15]:
"""
immutable tuple
package and unpackage
"""
# package  
print("\r\n package unpackage:")
a = 1, 10, 100
print(type(a))  # <class 'tuple'>
print(a)        # (1, 10, 100)

# unpackage
i, j, k = a
print(i, j, k)  # 1 10 100

# immutable
print("\r\n immutable:")
a[0] = 88888  # TypeError

 package unpackage:
<class 'tuple'>
(1, 10, 100)
1 10 100

 immutable:

TypeError: 'tuple' object does not support item assignment

In [16]:
"""
* Traversal of elements
* + , in ,not in
"""
t1 = (35, 12, 98)
t3 = ('echuan', 43, True, 'ÂõõÂ∑ùÊàêÈÉΩ')
# Traversal of elements
for elem in t1:
    print(elem)

# operator in
print(12 in t1)         # True
print(99 in t1)         # False
print('Hao' not in t3)  # False

# operator +
t6 = t1 + t3
print(t6)  # (35, 12, 98, 'echuan', 43, True, 'ÂõõÂ∑ùÊàêÈÉΩ')

35
12
98
True
False
True
(35, 12, 98, 'echuan', 43, True, 'ÂõõÂ∑ùÊàêÈÉΩ')

In [17]:
"""
tuple and list convert to each other
"""
infos = ('apple', 'banana', 'orange')
print(list(infos))  # ['apple', 'banana', 'orange']

frts = ['apple', 'banana', 'orange']
print(tuple(frts))  # ('apple', 'banana', 'orange')

['apple', 'banana', 'orange']
('apple', 'banana', 'orange')

## 3 Strings

### 3.1 String Definition

The so-called¬†**string**¬†is¬†**a limited sequence composed of zero or more characters**¬†, generally recorded as: $$ s = a_1a_2 \cdots a_n ,,,,, (0 \le n \le \infty) $$In Python program , we can represent a string by surrounding **single or multiple characters** with **single or double quotes**. The characters in the string can be special symbols (such as: üí©, üê∑, üÄÑÔ∏è), etc.

In [18]:
"""
	* single or multiple characters
	* single or double quotes
	* three single or double quotes can include multiple lines 
"""
s1 = 'hello, world!'
s2 = "‰Ω†Â•ΩÔºå‰∏ñÁïåÔºÅ‚ù§Ô∏è"
s3 = '''
hello,
wonderful
world!
'''
print(s1)
print(s2)
print(s3)    # multiple lines

hello, world!
‰Ω†Â•ΩÔºå‰∏ñÁïåÔºÅ‚ù§Ô∏è

hello,
wonderful
world!

In [72]:
"""
escape character:
	some character itself has specified mean, such as `'` or `"`, use to represent string. if want string container it, it must be escaped.
	use backslash(`\`) to indicate escape:
		\<new line>   str still connect 
		\\            \\
		\'            '
		\"            "
		\n            New Line
		\r            Carriage Return
		\t            Tab
		\b            Backspace
		\ooo          Octal value, o is ortal number,from 0 to 7
		\ xhh         Hex value, h is hexadecimal number, from 0 to F 
        \ uxxxx        Unicode character Encoding
"""
s = 'This string will not include \
backslashes or newline characters.'
print(s)                     # This string will not include backslashes or newline characters.

s='The \\character is called backslash'
print(s)                     # The \character is called backslash

s='Hello \'Python\"'
print(s)                     # Hello 'Python"

s='Hel\blo'
print(s)                     # Helo

s='Hello\nPython'
print(s)                     # Hello<New Line>Python

s='Hello\tPython'
print(s)                     # Hello	Python

s="\141"
print(s)                     # OCT 141 is 64 + 32 + 1 = 97 Decimal , the ASCII value is a

s="\x41"
print (s)                    # Hex 41 is 4 * 16 + 1 = 65 Decimal, the ASCII value is A

s="‰∏≠Êñá"
unicode_str = s.encode('unicode_escape').decode('utf-8')
print(unicode_str)        # \u4e2d\u6587
s = '\u4e2d\u6587'
print(s)                  # ‰∏≠Êñá

This string will not include backslashes or newline characters.
The \character is called backslash
Hello 'Python"
Helo
Hello
Python
Hello	Python
a
A
\u4e2d\u6587
‰∏≠Êñá

In [61]:
"""
raw string:
	Start with `r` or `R`.
	every character in the string has its original meaning without so-called escape characters
"""
s = r'This string will not include \
backslashes or newline characters.'
print(s)                     # This string will not include \<New Line>backslashes or newline characters.

s=r'The \\character is called backslash'
print(s)                     # The \\character is called backslash

s=R'Hello \'Python\"'
print(s)                     # Hello \'Python\"

s=R'Hello\nPython'
print(s)                     # Hello\nPython

s=R"\141"
print(s)                     # \141

s=R"\x41"
print (s)                    # \x41

This string will not include \
backslashes or newline characters.
The \\character is called backslash
Hello \'Python\"
Hello\nPython
\141
\x41

### 3.2 String Operations

The Python language provides a very rich set of operators for string types, many of which have similar functions to list type operators. 
For example:
* use¬†`+`operators to concatenate strings
* use¬†`*`operators to repeat the content of a string
* use¬†`in`and¬†`not in`to determine whether a string contains another string
* use the¬†`[]`and¬†`[:]`operator to convert characters from 
* Remove a certain character or certain string from the string.

In [95]:
"""
len(str) : obtaining the number of list elements
str(obj) : convert other to string
"""
print(len('goodbye, world'))  # 14
print(str(list(range(5))))
print(str(True))
print(str(100.001))

14
[0, 1, 2, 3, 4]
True
100.001

In [74]:
"""
 `+`AND `*`operator to concatenate and repeat strings
"""
s1 = 'hello' + ', ' + 'world'
print(s1)    # hello, world
s2 = '!' * 3
print(s2)    # !!!
s1 += s2
print(s1)    # hello, world!!!
s1 *= 2
print(s1)    # hello, world!!!hello, world!!!

hello, world
!!!
hello, world!!!
hello, world!!!hello, world!!!

In [75]:
"""
Indexing and slicing
	str[index] 
	str[start:stop:step]
"""
s = 'abc123456'
n = len(s)
print(s[0], s[-n])    # a a
print(s[n-1], s[-1])  # 6 6
print(s[2], s[-7])    # c c
print(s[5], s[-4])    # 3 3
print(s[2:5])         # c12
print(s[-7:-4])       # c12
print(s[2:])          # c123456
print(s[:2])          # ab
print(s[::2])         # ac246
print(s[::-1])        # 654321cba

a a
6 6
c c
3 3
c12
c12
c123456
ab
ac246
654321cba

In [77]:
"""
comparison string:
	the string is compared to the size of the encoding corresponding to each character.
"""
s1 = 'a whole new world'
s2 = 'hello world'
print(s1 == s2)             # False
print(s1 < s2)              # True
print(s1 == 'hello world')  # False
print(s2 == 'hello world')  # True
print(s2 != 'Hello world')  # True
s3 = '‰∏âÊØõ'
print(ord('‰∏â'))            # 19977
print(ord('ÊØõ'))            # 27611
s4 = '„Éï„Çß„Ç§'
print(ord('„Éï'))            # 12501
print(ord('„Çß'))            # 12455
print(ord('„Ç§'))            # 12452
print(s3 >= s4)             # True
print(s3 != s4)             # True

False
True
False
True
True
19977
27611
12501
12455
12452
True
True

In [78]:
"""
Travalsel String Character
"""
s = 'hello'
print("\r\nfor_in string by element:")
for elem in s:
    print(elem)
print("\r\nfor_in string by index:")
for i in range(len(s)):
    print(s[i])

for_in string by element:
h
e
l
l
o

for_in string by index:
h
e
l
l
o

### 3.3 String Methods

* Case related operations
* Find operation
* Judgment of nature
* Format string
* pruning operation
* Replacement operation
* Split and merge
* encoding and decoding
* Other methods

In [80]:
"""
Case related operations, won't affect the original string
	str.capitalize() : Upper First Character
	str.title()      : Upper First Character of Each Word
	str.upper()      : Upper String
	str.lower()      : Lower String
"""
s1 = 'hello, man. hello, world!'
# Upper First Characher
print(s1.capitalize())  # Hello, man. hello, world!
# Upper First Character of Each Word
print(s1.title())       # Hello, Man. Hello, World!
# Upper String
print(s1.upper())       # HELLO, MAN. HELLO, WORLD!
s2 = 'GOODBYE'
# Lower String
print(s2.lower())       # goodbye
# operation not affect the original string 
print(s1)               # hello, man. hello, world!
print(s2)               # GOODBYE

Hello, man. hello, world!
Hello, Man. Hello, World!
HELLO, MAN. HELLO, WORLD!
goodbye
hello, man. hello, world!
GOODBYE

In [81]:
"""
Find operation
	str.find(f_str[, index]), return index. if not found, return -1
	str.index(f_str[, index]), return index. if not found, raise `ValueError`
"""
s = 'hello, world!'
print(s.find('or'))      # 8
print(s.find('or', 9))   # -1
print(s.find('of'))      # -1
print(s.index('or'))     # 8
print(s.index('or', 9))  # ValueError: substring not found

8
-1
-1
8

ValueError: substring not found

In [83]:
"""
Judgment of nature
	str.startswith(s_str)  : return Ture or False
	str.endswith(e_str)    : return Ture or False
	str.isdigit()          : return Ture or False, determine whether is completely composed of numbers
	str.isalpha()          : return Ture or False, determine whether is completely composed of letters
	str.isalnum()          : return Ture or False, determine whether is made up of letters and numbers
"""
s1 = 'hello, world!'
print(s1.startswith('He'))   # False
print(s1.startswith('hel'))  # True
print(s1.endswith('!'))      # True
s2 = 'abc123456'
s3 = 'abc'
print(s2.isdigit())  # False
print(s2.isalpha())  # False
print(s3.isalpha())  # True
print(s2.isalnum())  # True

False
True
True
False
False
True
True

In [87]:
"""
Format string
"""
s = 'hello, world'
print(s.center(20, '*'))  # ****hello, world****
print(s.rjust(20))        #         hello, world
print(s.ljust(20, '~'))   # hello, world~~~~~~~~
print('33'.zfill(5))      # 00033
print('-33'.zfill(5))     # -0033
a = 321
b = 123
print(f'{str(a).zfill(5)} * {str(b).zfill(5)} = {a * b}')

****hello, world****
        hello, world
hello, world~~~~~~~~
00033
-0033
00321 * 00123 = 39483

In [88]:
"""
pruning operation
"""
s1 = '   test@126.com  '
print(s1.strip())           # test@126.com
s2 = '~hello, world~'     
print(s2.lstrip('~'))       # hello, world~
print(s2.rstrip('~'))       # ~hello, world

test@126.com
hello, world~
~hello, world

In [89]:
"""
Replacement operation
	str.replace(substr, replace_str[, replace_times])
"""
s = 'hello, good world'
print(s.replace('o', '@'))     # hell@, g@@d w@rld
print(s.replace('o', '@', 2))  # hell@, g@od world

hell@, g@@d w@rld
hell@, g@od world

In [90]:
"""
Split and merge
	str.split()
	delimiter_str.join(str)
"""
s = 'I love you'
words = s.split()
print(words)            # ['I', 'love', 'you']
print('~'.join(words))  # I~love~you

['I', 'love', 'you']
I~love~you

In [91]:
"""
encoding and decoding
"""
a = 'AEC‰∏≠Êñá„Éï„Çß„Ç§'
b = a.encode('utf-8')
c = a.encode('gbk')
print(b)                  # b'\xe9\xaa\x86\xe6\x98\x8a'
print(c)                  # b'\xc2\xe6\xea\xbb'
print(b.decode('utf-8'))  # È™ÜÊòä
print(c.decode('gbk'))    # È™ÜÊòä

b'AEC\xe4\xb8\xad\xe6\x96\x87\xe3\x83\x95\xe3\x82\xa7\xe3\x82\xa4'
b'AEC\xd6\xd0\xce\xc4\xa5\xd5\xa5\xa7\xa5\xa4'
AEC‰∏≠Êñá„Éï„Çß„Ç§
AEC‰∏≠Êñá„Éï„Çß„Ç§

## 4 Sets

set is an **unordered** collection with **no duplicate elements**

### 4.1 Create Sets

In [97]:
"""
	empty set     : only use¬†`set()`, not¬†Curly braces(`{}`)
	not empty set Ôºöuse `set()` or¬†Curly braces(`{}`)
		set(string) will use letters as elements
"""
empty_set = set()
print(empty_set)
set1 = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(set1)            # {'orange', 'banana', 'pear', 'apple'}
set2 = set(['apple', 'orange', 'apple', 'pear', 'orange', 'banana'])
print(set2)            # {'orange', 'banana', 'pear', 'apple'}
set2 = set('abracadabra')
print(set2)            # {'a', 'r', 'b', 'c', 'd'}

set()
{'pear', 'apple', 'banana', 'orange'}
{'pear', 'apple', 'banana', 'orange'}
{'r', 'd', 'b', 'a', 'c'}

In [98]:
"""
	set comprehensions  
"""
a = {x for x in 'abracadabra' if x not in 'abc'}
print(a)      # {'r', 'd'}

{'d', 'r'}

### 4.2 Set operations

In [99]:
"""
collection methods
	set.add(ele)    : add element
	set.remove(ele) : remove element. if not exists, raise `KeyError`
	set.clear()     : clear element
"""
set1 = {1, 10, 100}

set1.add(1000)
set1.add(10000)
print(set1)  # {1, 100, 1000, 10, 10000}

set1.discard(10)
if 100 in set1:
    set1.remove(100)
print(set1)  # {1, 1000, 10000}

set1.clear()
print(set1)  # set()

{1, 100, 1000, 10, 10000}
{1, 1000, 10000}
set()

In [106]:
"""
 `in` or `not in`
"""
set1 = {11, 12, 13, 14, 15}
print(10 in set1)      # False 
print(15 in set1)      # True
set2 = {'Python', 'Java', 'C++', 'Swift'}
print('Ruby' in set2)  # False
print('Java' in set2)  # True

False
True
False
True

In [107]:
"""
	a intersection b           : elements in a but not in b
	a union b                  : elements in a or b or both
	a difference b             : elements in both a and b
	a symmetric difference b   : elements in a or b but not both
"""
set1 = {1, 2, 3, 4, 5, 6, 7}
set2 = {2, 4, 6, 8, 10}

# intersection
print(set1 & set2)                      # {2, 4, 6}
print(set1.intersection(set2))          # {2, 4, 6}

# union
print(set1 | set2)                      # {1, 2, 3, 4, 5, 6, 7, 8, 10}
print(set1.union(set2))                 # {1, 2, 3, 4, 5, 6, 7, 8, 10}

# difference
print(set1 - set2)                      # {1, 3, 5, 7}
print(set1.difference(set2))            # {1, 3, 5, 7}

# Symmetric difference
print(set1 ^ set2)                      # {1, 3, 5, 7, 8, 10}
print(set1.symmetric_difference(set2))  # {1, 3, 5, 7, 8, 10}

set1 = {1, 3, 5, 7}
set2 = {2, 4, 6}
set1 |= set2
print(set1)  # {1, 2, 3, 4, 5, 6, 7}
set3 = {3, 6, 9}
set1 &= set3
print(set1)  # {3, 6}
set2 -= set1
print(set2)  # {2, 4}

{2, 4, 6}
{2, 4, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 10}
{1, 3, 5, 7}
{1, 3, 5, 7}
{1, 3, 5, 7, 8, 10}
{1, 3, 5, 7, 8, 10}
{1, 2, 3, 4, 5, 6, 7}
{3, 6}
{2, 4}

In [108]:
"""
comparison operation
	==    : If the elements in the two sets are exactly the same
	a.issubset(b) 
	b.issuperset(a) : determine whether a is subset of a
	a.isdisjoint(b) : determine whether a and b have the same elements
"""
set1 = {1, 3, 5}
set2 = {1, 2, 3, 4, 5}
set3 = {5, 4, 3, 2, 1}
set4 = {7, 8, 9}

print(set2 == set3)           # True
print(set1.issubset(set2))    # True
print(set2.issuperset(set1))  # True
print(set1.isdisjoint(set2))  # True
print(set1.isdisjoint(set4))  # False

True
True
True
False
True